/** {
	margin: 0 auto;
	padding: 0 auto;
}*/

/** {


}*/

.bold {
	font-weight: bold;
}

.main {
	width: 1050px;
	height: 100%;
	margin: 0 auto;
}

.main .head {
	width: 100%;
	height: 120px;
	/*background-color: red;*/
	border-bottom: 1px solid #ccd2d2;
}

.main .body {
	width: 100%;
	height: 1700px;
	margin-top: 10px;
	padding: 0;
}

.main .body .left {
	float: left;
	width: 220px;
	height: 100%;
	/*background-color: green;*/
}
.main .body .right {
	float: left;
	width: 190px;
	height: 100%;
	/*background-color: green;*/
	
}

.main .body .right table {
	padding: 0 0 0 20px;
}

.main .body .center {
	float: left;
	width: 620px;
	height: 100%;
	/*background-color: blue;*/
	margin-left: 20px;
}

.main .foot {
	width: 100%;
	height: 200px;
	/*background-color: black;*/
	border-top: 1px solid #ccd2d2;
}

.main .foot .foot-column {
	width: 25%;
	height: 100%;
	float: left;
	text-align: center;
	padding-top: 30px;
}

.main .foot .foot-column a {
	color: #aaa;
	font-size: 14px;
}

.main .foot .foot-column a:hover {
	text-decoration: underline;
}

.main .head .user_name {
	width: 500px;
	height: 100%;
	float: left;
	/*background-color: red;*/

}

.main .head .user_menu {
	width: 400px;
	height: 100%;
	float: right;
	/*background-color: red;*/
}

.main .head .user_name .name_td {
	padding: 30px 0 0 10px;
	font: bold 200% Arial,'Microsoft YaHei',sans-serif;
	font-size: 28px;
	transition: 1.2s all;
}

.main .head .user_menu .menu_td {
	/*padding: 30px 0 0 10px;*/
	/*font: bold 100% Arial,'Microsoft YaHei',sans-serif;*/
	font-size: 15px;
	text-align: right;
	/*font-weight: bold;*/
}

a {
	text-decoration: none;
	color: #005FA9;
}

a:hover {
	color: #ff0000;
}

.main .body .left .user_info {
	width: 100%;
	height: 600px;
	/*background-color: red;*/
	padding: 0 auto;
	font-size: 14px;
}

.main .body .left .user_info .user_image {
	width:100%;
	height: auto;
	text-align: center;
}

.main .body .left .user_info img {
	width: 100%;
	height: auto;

}

.tb-title {
	font: bold 150% Arial,'Microsoft YaHei',sans-serif;
	font-size: 18px;

}

.tb-title-big {
	font: bold 150% Arial,'Microsoft YaHei',sans-serif;
	font-size: 24px;

}

/*content样式*/

.content {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0 auto;
}

.content .box {
	width: 96%;
	height: auto;
}

.content .box .box-title {
	width: 100%;
	height: 30px;
}

.content .box .box-body {
	width: 100%;
	height: auto;
	font-size: 15px;
	line-height: 20px;
}

.content .box .intro {
	padding: 20px 0 10px 10px;
}

.content .box .box-body .paper-title {
	width: 100%;
	height: auto;
	font: Arial,Helvetica,sans-serif;
	font-size: 15px;
}
.content .box .box-body .paper-authors {
	width: 100%;
	height: auto;
	font: Arial,Helvetica,sans-serif;
	font-size: 14px;
	color: #999;
}

.content .box .box-body .paper-authors-me {
	color: #333;
	font-weight: bold;
}


/*新闻样式*/
.news-title {
	font-size: 16px;
	font-weight: bold;
}


/*列表样式*/

ul {
	padding-inline-start: 15px;
}
li {
  color: #000;
  transition: .5s all;
}
li:hover {
  color: #ff6000;
  cursor: pointer;
}
li::marker {
  content: '▍';
  font-size: 10px;
}
li:hover::marker {
  content: '▍▍';
  font-size: 10px;
  color: #ff6000;
}

.top {
	margin-top: 20px;
}



